<div class="m-header">
    <div class="m-header-left">
        <div class="m-bg-image m-icon m-logo"></div>
        <span>MISA Schedule</span>
    </div>
    <div class="m-header-center">

    </div>
    <div class="m-header-right" *ngIf="!isAuthenticated">
        <div class="m-button m-button-simple btn-login" (click)="onLogin()">Đăng nhập</div>
    </div>
    <div class="m-header-right" *ngIf="isAuthenticated">
        <div class="m-icon m-icon-facebook"></div>
        <div class="m-icon m-icon-block"></div>
        <div class="m-icon m-icon-calendar"></div>
        <div class="m-icon m-icon-notify"></div>
        <div class="m-icon m-icon-setting"></div>
        <div class="m-icon m-icon-question"></div>
        <div class="m-icon m-icon-avatar"></div>
        <div>
            <div ngbDropdownMenu aria-labelledby="userInfoDropdown">
                <div ngbDropdownItem class="m-button m-button-simple" (click)="onLogout()">{{user.userName}}</div>
            </div>
        </div>
    </div>
</div>