<div class="m-header">
    <div class="m-logo-box">
        <div class="m-icon m-icon-toggle"></div>
        <div class="m-icon m-logo">Set work schedule</div>
    </div>
    <div class="m-header-title-box">
        <div class="m-header-title-inface">
            <p>MB</p>
        </div>
        <div class="m-header-title">
            <p>Chi nhánh MISA miền Bắc</p>
        </div>
        <div class="m-icon m-icon-16 m-icon-dropdown"></div>
    </div>
    <div class="m-header-account-box">
        <div class="m-icon m-icon-24 m-icon-notification"></div>
        <div class="m-account">
            <div class="m-account-img m-icon"></div>
            <div class="m-account-name">
                <p>Lê Duy Tuân</p>
            </div>
        </div>
        <div class="m-icon m-icon-16 m-account-option"></div>
    </div>
</div>