<div class="m-menu">
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-home"></div>
            <p>Bàn làm việc</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-PotentialCustomers"></div>
            <p>Tiềm năng</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-chaohang"></div>
            <p>Chào hàng</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-lienhe"></div>
            <p>Liên hệ</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-khachhang"></div>
            <p>Khách hàng</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-cohoi"></div>
            <p>Cơ hội</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-baogia"></div>
            <p>Báo giá</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-donhang"></div>
            <p>Đơn hàng</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-hoadon"></div>
            <p>Hóa đơn</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-aocohoi"></div>
            <p>Ao cơ hội</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-hoatdong"></div>
            <p>Hoạt động</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-muctieu"></div>
            <p>Mục tiêu</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-chiendich"></div>
            <p>Chiến dịch</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-baocao"></div>
            <p>Báo cáo</p>
        </div>
    </div>
    <div routerLinkActive="active-link" routerLink="/calendar" title="Lịch ngày">
        <div class="router-item">
            <div class="m-icon-khac"></div>
            <p>Khác</p>
        </div>
    </div>
</div>