<div class="m-navbar">
    <div class="m-menu-box">
        <div class="m-menu">
            <a [routerLink]="['/home']" class="m-menu-item" routerLinkActive="m-menu-item-selected">
                <div class="m-icon item-document m-menu-item-icon"></div>
                <p>Home</p>
            </a>
            <a [routerLink]="['/calendar']" class="m-menu-item" routerLinkActive="m-menu-item-selected">
                <div class="m-icon item-dashboard m-menu-item-icon"></div>
                <p>Calendar</p>
            </a>
            <a [routerLink]="['/form']" class="m-menu-item" routerLinkActive="m-menu-item-selected">
                <div class="m-icon item-setting m-menu-item-icon"></div>
                <p>Setting</p>
            </a>
            <a [routerLink]="['/login']" class="m-menu-item" routerLinkActive="m-menu-item-selected">
                <div class="m-icon item-setting m-menu-item-icon"></div>
                <p>Login</p>
            </a>
        </div>
    </div>
</div>