<div class="m-side-bar-left-main">
    <div class="m-side-bar-left" *ngIf="isSideLeft">
        <div class="m-navbar">
            <div class="m-menu-box">
                <div class="m-menu">
                    <div>
                        <div class="m-menu-item item-hsdt" [ngClass]="{'m-menu-item-selected':viewCalendar =='MONTH'}"
                            (click)="onClickItemMenu('MONTH')">
                            <div class="m-icon m-menu-item-icon"></div>
                            <p>Lịch Tháng</p>
                        </div>
                    </div>
                    <div>
                        <div class="m-menu-item item-hsg" [ngClass]="{'m-menu-item-selected':viewCalendar =='WEEK'}"
                            (click)="onClickItemMenu('WEEK')">
                            <div class="m-icon m-menu-item-icon"></div>
                            <p>Lịch Tuần</p>
                        </div>
                    </div>
                    <div>
                        <div class="m-menu-item item-tdc" [ngClass]="{'m-menu-item-selected':viewCalendar =='DAY'}"
                            (click)="onClickItemMenu('DAY')">
                            <div class="m-icon m-menu-item-icon"></div>
                            <p>Lịch Ngày</p>
                        </div>
                    </div>
                    <div>
                        <div class="m-menu-item item-tdd" [ngClass]="{'m-menu-item-selected':viewCalendar =='LIST'}"
                            (click)="onClickItemMenu('LIST')">
                            <div class="m-icon m-menu-item-icon"></div>
                            <p>Danh sách hoạt động</p>
                        </div>
                    </div>
                    <div>
                        <div class="m-menu-item item-qlld" [ngClass]="{'m-menu-item-selected':viewCalendar =='APPLY'}"
                            (click)="onClickItemMenu('APPLY')">
                            <div class="m-icon m-menu-item-icon"></div>
                            <p>Hoạt động chưa duyệt</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-show-slide-left" (click)="isSideLeft = !isSideLeft">
        <div [ngClass]="{'m-icon-prev': isSideLeft, 'm-icon-next': !isSideLeft}"></div>
    </div>
</div>