<form [formGroup]="calendarForm" (ngSubmit)="onSubmit()" class="was-validated">
    <div class="form-group">
        <label for="uname">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title"
            formControlName="title" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
        <label for="pwd">Content:</label>
        <input type="text" class="form-control" id="content" placeholder="Enter content" name="content"
            formControlName="content" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="form-group">
        <label for="pwd">Start Time:</label>
        <input type="datetime-local" class="form-control" id="start" placeholder="Enter start time" name="start"
            formControlName="start" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
        <label for="pwd">End Time:</label>
        <input type="datetime-local" class="form-control" id="end" placeholder="Enter end time" name="end"
            formControlName="end" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember" formControlName="checkbox"> I agree
            on blabla.
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Check this checkbox to continue.</div>
        </label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!calendarForm.valid">Submit</button>
</form>