div {
    margin: 0;
    padding: 0;
  }
  .m-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #99a1b2;
    display: inline-block;
    cursor: pointer;
    background: #fff;
  }
  
  .m-icon-minus {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #4262f0;
    background-color: #4262f0;
  }
  
  .m-icon-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #4262f0;
    background-color: #4262f0;
  }
  