.multiselect__option--selected.multiselect__option--highlight{
    background-color: #fff;
    color: #000;
}
.multiselect__option--selected{
    font-weight: normal;
    background-color: #fff;
    color: #4262F0;
}

.multiselect__option--selected.multiselect__option--highlight:after{
    display: none;
}
.multiselect__option--highlight:after{
    display: none;
}
.multiselect__option--highlight{
    background-color: #F0F2F4 !important;
    color: #000;
}
.multiselect__option--selected:after{
    background-image: url(../../assets/img/icon_collection.svg);
    background-position: -336px -144px;
    width: 16px;
    height: 16px;
    margin: 11px 10px;
    color: #fff;
    overflow: hidden;
}
.multiselect__option:after {
    padding: 0;
}
.multiselect__select:before {
    display: none;
}

.multiselect__select{
    background-image: url(../../assets/img/icon_collection.svg);
    background-position: -48px -32px;
    width: 16px;
    height: 16px;
    padding: none;
    margin: 11px 10px;
}
.multiselect__tags{
}
.multiselect__tag{
    color: #000;
    background-color: #C5C9D3;
}
.multiselect__tag-icon:hover{
    background-color: #99A1B2;
}