.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.m-button{
  background-color: #9047ed;
  border: 1px solid #9047ed;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 10px;

  text-align: center;
  line-height: 40px;
  white-space: nowrap;

  color: #fff;
  display: inline-block;
  height: 40px;
}

.app .m-box{
  margin: auto;
  background-color: #fff;
  width: 400px;
  height: 500px;
  border-radius: 4px;
  padding: 10px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.m-search{
  width: 100%;
  display: flex;
  align-items: center;
}

.m-input-search{
  border: 1px solid #e9e9e9;
  height: 40px;
  display: flex;
  flex: 1;
  padding: 0px 10px;
  border-radius: 4px;
  overflow: hidden;
  
}
.m-input-search input{
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.m-button-search{
  margin-left: 10px;
  font-size: 32px;
  font-weight: bold;
}

.m-todo{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.m-todo-item{
  display: flex;
  align-items: center;

  width: 100%;
  height: 42px;
  
  background-color: #f2f2f2;
  border-radius: 4px;
  margin: 10px 0px;
  
}

.m-todo-item-title{
  flex: 1;
  padding-left: 10px;
}

.m-todo-item-delete{
  background-color: #e84b40;
  color: #fff;

  display: block;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 0px 4px 4px 0;

  text-align: center;
  line-height: 40px;
  white-space: nowrap;
}

.m-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  
  margin-top: 20px;
}

.m-footer-title{
  padding-left: 10px;
}